body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Form CSS */
#header {
  background-color: #e1e1e2;
  width: 100%;
  display: inline-block;
  margin: 20px 0px;
  text-align: center;
}
#section {
  background-color: #e1e1e2;
  width: 60%;
  float: left;
  height: 500px;
  display: block;
}
#section #article {
  background-color: #bfbfc5;
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin-top: 232px;
  margin-left: 20px;
  margin-right: 20px;
}
#aside {
  width: 38%;
  float: right;
  height: 500px;
  background-color: #e1e1e2;
}
#footer {
  background-color: #e1e1e2;
  width: 100%;
  display: inline-block;
  margin-top: 20px;
  text-align: center;
}

/* Zafar CV CSS */
.container{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.container .box{
  width: 25%;
  height: 200px;
  padding: 0px 50px;
  border-left: 5px solid #681e1e;
  text-align: justify;
}
.container .box img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;

}
#section2{
  margin-top: 50px;
}
#section2 .box1{
  float: left;
  width: 40%;
  border-left: 5px solid #681e1e;
  padding: 0px 50px;
}
#section2 .box1 h1{
  text-decoration: underline;
}
#section2 .box2{
  float: right;
  width: 40%;
  padding: 0px 50px;
}
#section2 .box2 p{
 background-color: #bfbfc5;
 width:80px;
 padding: 10px 10px;
 border-radius: 5px;
 color: brown;
 font-size: 15px;
 text-align: center;
}

/* Add User Form */

.Formcontainer {
  background: #2d3e3f;
  border-radius: 10px;
  width: 350px;
  height: 500px;
  padding-bottom: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 30px 50p x 40px 50px;
}
h1 {
  text-align: center;
  color: white;
  font-weight: thin;
  margin: 0 0 50px;
}

.label {
  float: left;
  font-size: 12px;
  width: 110px;
  line-height: 35px;
  color: white;
}
.box {
  width: 360px;
  height: 35px;
  margin-top: 10px;
  font-size: 12px;
}
.textBox {
  height: 30px;
  width: 190px;
  padding-left: 20px;
  border: 1px solid white;
  border-radius: 5px;
}
.selectBox{
  height: 33px;
  width: 214px;
  color: #757575;
  padding-left: 20px;
  border: 1px solid white;
  border-radius: 5px;
}
.textBoxCnic {
  height: 30px;
  text-align: center;
  width: 63px;
  border: 1px solid white;
  border-radius: 5px;
}
.radio {
  color: white;
  background: #2d3e3f;
  line-height: 38px;
}
.submit {
  position: absolute;
  left: 65%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  border: 1px solid #ff6600;
  border-radius: 20px;
  color: white;
  width: 110px;
  height: 35px;
  background: #ff6600;
  text-transform: uppercase;
  cursor: pointer;
}
.reset {
  position: absolute;
  left: 35%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: auto;
  border: none;
  color: white;
  width: 110px;
  height: 35px;
  border: 1px solid red;
  border-radius: 20px;
  background: red;
  text-transform: uppercase;
  cursor: pointer;
}
/* Satndee CSS Starts here */
.standee{
  background-image: url(./images/standee.png);
  background-size: cover;
  width: 500px;
  height: 100%;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}